@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

html {
    font-size: 10px;
    font-family: 'Pretendard';
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: linear-gradient(to right, #F0F4FF 0%, #A5B6EE 100%);

}

header {
    padding-top: 72px;
    text-align: center;
}

main {
    padding-top: 60px;
}
section {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to left,rgba(48, 69, 119, 1) 0%, rgba(76, 101, 160, 1) 100%);
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgba(55, 75, 124, 0.5);
    padding: 48px 44px 40px;
}

section .timer-title {
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
}
.bar {
    background: rgba(91, 117, 180, 1);
    width: 100%;
    height: 1px;
    margin: 24px auto 55px;
}
.time-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.time-section input[type="number"] {
    width: 80px;
    height: 80px;
    background: linear-gradient(314.28deg, #304577 0%, #4C65A0 83%);
    border: 1px solid rgba(53, 73, 113, 1);
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.time-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.time-flag {
    position: absolute;
    top: -23px;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(165, 182, 238, 1);
}
.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
button {
    width: 112px;
    height: 48px;
    background: rgba(50, 69, 119, 1);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
button .icon-box {
    position: relative;
    width: 16px;
    height: 16px;
}
button .icon-box img {
    position: absolute;
    top: 0;
    left: 0;
}
button .icon-box .off {
    opacity: 0;
}
button span {
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(97, 113, 153, 1);
}

/*button on*/
.start-btn.on {
    background: rgba(81, 128, 255, 1);
    cursor: pointer;
}
.start-btn.on span {
    color: #fff;
}